body {
    background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url(image.jpg);
    background-size: contain;
    background-position: center;
}

.login-box {
    max-width: 800px;
    float: inline-end;
    margin: 200px auto;
}

.login-left {
    background: rgba(146, 146, 167, 0.5);
    padding: auto;
}

.login-right {
    background: rgba(152, 152, 236, 0.5);
    padding: auto;
}

.form-control {
    background-color: transparent !important;
}